.recent .text {
  padding: 20px;

}
.recent .category span {
  padding: 4px 15px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}
.recent .category i {
  font-size: 20px;
  color: #75e2d9;
}
.recent p {
  color: #676767;
  text-align: justify;
}
.recent .button {
  border-top: 1px solid #3a67e4;
  padding: 10px 30px;
}
