.about {
  margin-bottom: 80px;
}

.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}

/* Hover effect for .about */
.about:hover {
  background-color: #f0f0f0; /* Light background change on hover */
}

/* Hover effect for paragraphs */
.about p:hover {
  color: #007BFF; /* Change text color on hover */
  cursor: pointer;
}

/* Hover effect for heading */
.about {
  text-decoration:
  color #FF5733; /* Change color when hovering over the heading */
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }

  .about p {
    padding: 0;
  }

  .about:hover 
  { container :img;
    margin-top: 50px;
    
  }
  .about .container img:hover {
  animation-fill-mode: forwards;
  }
  
}
